#AddDefaultCharset utf-8
#
#Options +FollowSymLinks
#Options -Indexes
#DirectoryIndex web/index.php
#
#RewriteEngine On
#RewriteBase /
#
#RewriteCond $1 !^(web/index\.php)
#RewriteCond %{REQUEST_URI} !\.(css│js│jpg│gif)$
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 [L,QSA]
#
#AddType text/css .css